section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 0px;

  button {
    padding: 5px 20px;
    margin: 0px 8px;
    background-color: green;
    color: white;
    border-radius: 36px;
    border: none;
  }
}

.footer {
  margin: 0;
  padding: 0;
  height: 3rem;
}

.footer-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  li {
    list-style: none;
  }

  h5 {
    margin-bottom: 0;
    margin-left: 5px;
  }

}



@media (max-width:768px) {
  .example-button-row {
    justify-content: flex-end;
    padding: 6px 12px;
    margin: 0;
  }

  .footer-button {
    margin: 0;
    padding: 0;
  }
}

@media (max-width:576px) {
  .example-button-row {
    padding: 4px 6px;
    margin: 0;
    border-radius: 14px;
  }
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.footer {
  background-color: #ffffff;
  text-align: center;
  padding-bottom: 0.3rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}