
.content{
  margin: 0;
  padding-top: var(--height-header-nav);
  .video{
    min-height: 70vh;
    width: 100%;
    padding-bottom: 30px;
    @media(max-width:739px){
      min-height: 35vh;
    }
  }
  .title{
    font-size: 30px;
  }
  .boder-side-bar{
    border: 1px solid #cbcbcb;
    border-radius: 10px;
  }
}
