<app-header></app-header>
<div class="container-fluid">
  <div class="col-md-12 row content">
    <div class="col-md-9 col-sm-12">
      <h3 class="title d-md-none d-lg-none" style="margin-top: 2rem;">1.Bạn sẽ làm được gì sau khóa học?</h3>
      <iframe  class="video" [src]="urlSafe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <h3 class="title d-sm-none">1.Bạn sẽ làm được gì sau khóa học?</h3>
    </div>
     <div class="col-md-3 boder-side-bar">
       <app-side-bar ></app-side-bar>
     </div>
  </div>
</div>
<app-footer></app-footer>
