<app-header></app-header>

<div class="khoa-hoc">
  <h1>Khóa học Tiếng Hàn</h1>
  <h2 class="title">
    Các khóa học để bạn bắt đầu</h2>
  <ul>
    <li><a href="#">Phổ biển nhất</a></li>
    <li><a href="#">Mới</a></li>
    <li><a href="#">Thịnh hành</a></li>
  </ul>
  <div class="List-khoa-hoc   ">
    <swiper-container [slidesPerView]="slidesPerView" navigation="true" space-between="10" pagination="true"
      pagination-clickable="true">
      <swiper-slide>
        <img class="img-slide" src="../../../assets/img/banner-khoa-hoc-1.jpg" alt="">
        <h3>Khóa Học Tiếng Hàn Miễn Phí Cho Người Mới Bắt Đầu</h3>
        <h4><b>350.000 đ </b> <del style="color: rgb(78, 78, 78);">730.000 đ</del></h4>
      </swiper-slide>
      <swiper-slide>
        <img class="img-slide" src="../../../assets/img/banner-khoa-hoc-2.jpg" alt="">
        <h3>Khóa Học Tiếng Hàn Cho Người Mới Bắt Đầu (Kỹ Năng Đọc, Viết, Nói)</h3>
        <h4><b>330.000 đ </b> <del style="color: rgb(78, 78, 78);">700.000 đ</del></h4>
      </swiper-slide>
      <swiper-slide>
        <img class="img-slide" src="../../../assets/img/banner-khoa-hoc-3.jpg" alt="">
        <h3>Khóa Học Giới Thiệu Bảng Chữ Cái Tiếng Hàn</h3>
        <h4><b>600.000 đ </b> <del style="color: rgb(78, 78, 78);">900.000 đ</del></h4>
      </swiper-slide>
      <swiper-slide>
        <img class="img-slide" src="../../../assets/img/banner-khoa-hoc-4.jpg" alt="">
        <h3>Khóa Học Tiếng Hàn Giao Tiếp Miễn Phí Được Tài Trợ Bởi Đại Học Yonsei</h3>
        <h4><b>1.000.000 đ </b> <del style="color: rgb(78, 78, 78);">2.000.000 đ</del></h4>
      </swiper-slide>
      <swiper-slide>
        <img class="img-slide" src="../../../assets/img/banner-khoa-hoc-5.jpg" alt="">
        <h3>Khoá Học Tiếng Hàn Nhập Môn “First Step Korean” Từ Đại Học YONSEI</h3>
        <h4><b>2.000.000 đ </b> <del style="color: rgb(78, 78, 78);">3.000.000 đ</del></h4>
      </swiper-slide>
    </swiper-container>
  </div>

  <h2 class="title">
    khóa học</h2>
  <div class="List-khoa-hoc   ">

    <swiper-container [slidesPerView]="slidesPerView" navigation="true" space-between="10" pagination="true"
      pagination-clickable="true">
      <swiper-slide>
        <img class="img-slide" src="../../../assets/img/banner-khoa-hoc-1.jpg" alt="">
        <h3>Khóa Học Tiếng Hàn Miễn Phí Cho Người Mới Bắt Đầu</h3>
        <h4><b>350.000 đ </b> <del style="color: rgb(78, 78, 78);">730.000 đ</del></h4>
      </swiper-slide>
      <swiper-slide>
        <img class="img-slide" src="../../../assets/img/banner-khoa-hoc-2.jpg" alt="">
        <h3>Khóa Học Tiếng Hàn Cho Người Mới Bắt Đầu (Kỹ Năng Đọc, Viết, Nói)</h3>
        <h4><b>330.000 đ </b> <del style="color: rgb(78, 78, 78);">700.000 đ</del></h4>
      </swiper-slide>
      <swiper-slide>
        <img class="img-slide" src="../../../assets/img/banner-khoa-hoc-3.jpg" alt="">
        <h3>Khóa Học Giới Thiệu Bảng Chữ Cái Tiếng Hàn</h3>
        <h4><b>600.000 đ </b> <del style="color: rgb(78, 78, 78);">900.000 đ</del></h4>
      </swiper-slide>
      <swiper-slide>
        <img class="img-slide" src="../../../assets/img/banner-khoa-hoc-4.jpg" alt="">
        <h3>Khóa Học Tiếng Hàn Giao Tiếp Miễn Phí Được Tài Trợ Bởi Đại Học Yonsei</h3>
        <h4><b>1.000.000 đ </b> <del style="color: rgb(78, 78, 78);">2.000.000 đ</del></h4>
      </swiper-slide>
      <swiper-slide>
        <img class="img-slide" src="../../../assets/img/banner-khoa-hoc-5.jpg" alt="">
        <h3>Khoá Học Tiếng Hàn Nhập Môn “First Step Korean” Từ Đại Học YONSEI</h3>
        <h4><b>2.000.000 đ </b> <del style="color: rgb(78, 78, 78);">3.000.000 đ</del></h4>
      </swiper-slide>
    </swiper-container>
  </div>
</div>