* {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu {
  // border-bottom: 1px solid rgb(252, 252, 252);
  box-shadow: 0px 1px 4px #88888888;
  padding: 5px 20px 5px;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 10;
  height: var(--height-header-nav);
  .Logo {
    img {
      object-fit: cover;
      cursor: pointer;
    }

    p {
      position: initial;
    }
  }

  .search {
    border: 2px solid #d1cfcf;
    border-radius: 20px;
    flex: 1 1;
    height: 40px;
    padding: 0 16px 0 8px;
    transition: border-color .2s ease-in-out;
    width: 420px;
    @media(max-width: 768px){
      display: none;
    }
    input {
      border: none;
      caret-color: #444;
      flex: 1 1;
      height: 100%;
      outline: none;
      padding: 0 4px;
    }

    .icon {
      background-color: #fff;
      background-image: url(https://drive.google.com/uc?export=download&id=12n0tvIl6Y9am-vxQVNumeVQfNEdgvgCd);
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: 18px;
      border-radius: 50%;
      height: 32px;
      opacity: .7;
      transition: opacity .2s ease-in-out;
      width: 30px;
    }
  }

  .search:focus-within {
    border: 2px solid black;
  }

  .user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media(max-width:767px){
      display: none;
    }

    h5 {
      padding-right: 15px;
      cursor: pointer;
      padding-top: 10px;
    }
  }
}
