* {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-menu {
  // border-bottom: 1px solid rgb(252, 252, 252);
  // box-shadow: 0px 1px 4px #88888888;
  // padding: 5px 20px 5px;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 10;
  height: var(--height-header-nav);
  font-weight: 500;

  .header-Logo {
    img {
      object-fit: cover;
      cursor: pointer;
    }

    p {
      position: initial;
    }
  }

  .header-search {
    border: 2px solid #d1cfcf;
    border-radius: 20px;
    flex: 1 1;
    height: 40px;
    padding: 0 16px 0 8px;
    transition: border-color .2s ease-in-out;
    width: 420px;

    input {
      border: none;
      caret-color: #444;
      flex: 1 1;
      height: 100%;
      outline: none;
      padding: 0 4px;
    }

    .icon {
      background-color: #fff;
      background-image: url(https://drive.google.com/uc?export=download&id=12n0tvIl6Y9am-vxQVNumeVQfNEdgvgCd);
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: 18px;
      border-radius: 50%;
      height: 32px;
      opacity: .7;
      transition: opacity .2s ease-in-out;
      width: 30px;
    }


    .search:focus-within {
      border: 2px solid black;
    }

  }

  .header-user {
    padding-right: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    h5 {
      cursor: pointer;
      margin: 0;
      padding-right: 10px;
      font-size: 14px;
      font-weight: 500;
    }

    h5:hover {
      color: var(--hover-color);
    }
  }


  @media screen and (max-width: 768px) {
    .header-search {
      height: 80%;
      width: 80%;
      flex: none;

      .icon {
        height: 18px;
      }

      input {
        padding: 0px 2px;
        font-size: 12px;
      }
    }

    .header-Logo {
      order: 2;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .header-sidebar {
      order: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .header-user {
      order: 3;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 12px;

      h5 {
        font-size: 12px;
      }
    }
  }

  .search-mini {
    height: 100%;
    padding: 0 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--black-color);

    li {
      height: 50px;
    }

  }

  .search-mini:hover {
    background-color: #218cff2b;
    color: var(--hover-color);
    border-radius: 0.5rem;
  }

  .box-search {
    position: fixed;
    top: 0;
    height: 30px;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
    background-color: #ffffff;
    box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.1);
    margin-top: var(--height-header-nav);
    border: 1px 1px solid black;
    border-top: 1px solid #f7f2f2;
  }
}