<div class="nav-menu col-lg-12 col-md-12 row">
  <div class="header-Logo col-lg-1 col-md-1 col-sm-2 ">
    <img routerLink="/home" src="https://drive.google.com/uc?export=download&id=1JkHC_JtO22NKBCnY1t3K93yCzyO4BCmu"
      alt="Logo" width="50" height="auto">
  </div>
  <div class="header-sidebar col-md-1 col-sm-2 col-lg-4 ">
    <app-title-menu></app-title-menu>
  </div>
  <div class="d-lg-none d-md-none col-sm-2">
    <!-- <i class="fas fa-search"></i> -->
    <img src="https://drive.google.com/uc?export=download&id=12n0tvIl6Y9am-vxQVNumeVQfNEdgvgCd" width="10" alt="">
    <h5 routerLink="/khoa-hoc" routerLinkActive="active" ariaCurrentWhenActive="page"><b>Khóa học của tôi</b></h5>
  </div>
  <div class="header-search col-lg-4 col-md-5  ">
    <div class="icon"></div>
    <input type="text" placeholder="Tìm kiếm khóa học, bài viết, video, ...">
  </div>
  <div class="user col-lg-3 col-md-3 ">
    <h5 routerLink="/khoa-hoc" routerLinkActive="active" ariaCurrentWhenActive="page">Khóa học của tôi</h5>
    <mat-icon>account_box</mat-icon>
    <a href="">Đăng nhập/Đăng ký</a>
  </div>
</div>