  <div class="nav-menu col-md-12 row">
    <div class="Logo col-md-1">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSV56a8WHIw0NGgOfV6gbKdlinv3jG6MprcZg&usqp=CAU"
        alt="Logo" width="70" height="auto">
    </div>
    <div class=" col-md-3">
      <app-title-menu></app-title-menu>

    </div>
    <div class="search col-md-4 row">
      <div class="icon"></div>
      <input type="text" placeholder="Tìm kiếm khóa học, bài viết, video, ...">
    </div>
    <div class="user col-md-4">
      <h5>Khóa học của tôi</h5>
      <mat-icon>account_box</mat-icon>
      <a href="">Đăng nhập/Đăng ký</a>
    </div>
  </div>
