<app-header></app-header>
<div class="text-book-component">
    <h1 class="title">danh sach giáo trình</h1>
    <div class="list-text-book row">
        <div class="text-box-item col-6 col-sm-3 col-md-2">
            <a href="#" class="content">
                <div class="img-content">
                    <img src="../../../assets/img/bìa-sách-giáo trình.jpg" width="100%" alt="">
                </div>
                <div class="description">
                    <h3>bộ sách giáo trình đại học YONSEI</h3>
                </div>
            </a>
            <h4><b>200.000 đ </b></h4>
        </div>

        <div class="text-box-item col-6 col-sm-3 col-md-2">
            <a href="#" class="content">
                <div class="img-content">
                    <img src="../../../assets/img/bìa-sách-giáo trình.jpg" width="100%" alt="">
                </div>
                <div class="description">
                    <h3>bộ sách giáo trình đại học YONSEI</h3>
                </div>
            </a>
            <h4><b>200.000 đ </b></h4>
        </div>
        <div class="text-box-item col-6 col-sm-3 col-md-2">
            <a href="#" class="content">
                <div class="img-content">
                    <img src="../../../assets/img/bìa-sách-giáo trình.jpg" width="100%" alt="">
                </div>
                <div class="description">
                    <h3>bộ sách giáo trình đại học YONSEI</h3>
                </div>
            </a>
            <h4><b>200.000 đ </b></h4>
        </div>
        <div class="text-box-item col-6 col-sm-3 col-md-2">
            <a href="#" class="content">
                <div class="img-content">
                    <img src="../../../assets/img/bìa-sách-giáo trình.jpg" width="100%" alt="">
                </div>
                <div class="description">
                    <h3>bộ sách giáo trình đại học YONSEI</h3>
                </div>
            </a>
            <h4><b>200.000 đ </b></h4>
        </div>
        <div class="text-box-item col-6 col-sm-3 col-md-2">
            <a href="#" class="content">
                <div class="img-content">
                    <img src="../../../assets/img/bìa-sách-giáo trình.jpg" width="100%" alt="">
                </div>
                <div class="description">
                    <h3>bộ sách giáo trình đại học YONSEI</h3>
                </div>
            </a>
            <h4><b>200.000 đ </b></h4>
        </div>
        <div class="text-box-item col-6 col-sm-3 col-md-2">
            <a href="#" class="content">
                <div class="img-content">
                    <img src="../../../assets/img/bìa-sách-giáo trình.jpg" width="100%" alt="">
                </div>
                <div class="description">
                    <h3>bộ sách giáo trình đại học YONSEI</h3>
                </div>
            </a>
            <h4><b>200.000 đ </b></h4>
        </div>
        <div class="text-box-item col-6 col-sm-3 col-md-2">
            <a href="#" class="content">
                <div class="img-content">
                    <img src="../../../assets/img/bìa-sách-giáo trình.jpg" width="100%" alt="">
                </div>
                <div class="description">
                    <h3>bộ sách giáo trình đại học YONSEI</h3>
                </div>
            </a>
            <h4><b>200.000 đ </b></h4>
        </div>
        <div class="text-box-item col-6 col-sm-3 col-md-2">
            <a href="#" class="content">
                <div class="img-content">
                    <img src="../../../assets/img/bìa-sách-giáo trình.jpg" width="100%" alt="">
                </div>
                <div class="description">
                    <h3>bộ sách giáo trình đại học YONSEI</h3>
                </div>
            </a>
            <h4><b>200.000 đ </b></h4>
        </div>
    </div>
</div>