.wrapper{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: var(--height-header-nav);

  img{
    background-size: contain;
    width: 100%;
  }
  .content{
    font-size: 17px;
    text-align: justify;
    div{
    margin-bottom: 25px;
    }
  }
  .khoahoc-hr hr {
    margin: 0px auto;
    width: 200px;
    border-top: 2px solid #bb141a;
}
.khoahoc-video{
    min-height: 18rem;
}
}
.thanh-acsion{
  width: 100%;
   margin: 0;
   padding: 0;
   background-color:#2234db;
   height: 50px;
   top: 0;
   left: 0;
}
.footer{
height: 30px;
}
