<app-header></app-header>
 <div class="wrapper">
  <div class="col-md-12 row content ">
    <div class="col-md-4">
      <img
        src="https://cdn-imgix.headout.com/media/images/c9db3cea62133b6a6bb70597326b4a34-388-dubai-img-worlds-of-adventure-tickets-01.jpg"
        alt="">
    </div>
    <div class="col-md-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quia fugit sed eligendi,
      nostrum qui nihil quas quisquam cupiditate blanditiis nisi accusamus aliquam esse sequi, provident laudantium
      soluta repudiandae dolorum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, minima sunt labore,
      error numquam ipsa aperiam deserunt facere doloremque neque odit adipisci modi. At perspiciatis minima sapiente
      voluptatibus ipsa. Quod.</div>
  </div>
  <div class="col-md-12 row content">
    <div class="col-md-4">
      <img
        src="https://cdn-imgix.headout.com/media/images/c9db3cea62133b6a6bb70597326b4a34-388-dubai-img-worlds-of-adventure-tickets-01.jpg"
        alt="">
    </div>
    <div class="col-md-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quia fugit sed eligendi,
      nostrum qui nihil quas quisquam cupiditate blanditiis nisi accusamus aliquam esse sequi, provident laudantium
      soluta repudiandae dolorum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, minima sunt labore,
      error numquam ipsa aperiam deserunt facere doloremque neque odit adipisci modi. At perspiciatis minima sapiente
      voluptatibus ipsa. Quod.</div>
  </div>
  <div class="col-md-12 row content">
    <div class="col-md-4">
      <img
        src="https://cdn-imgix.headout.com/media/images/c9db3cea62133b6a6bb70597326b4a34-388-dubai-img-worlds-of-adventure-tickets-01.jpg"
        alt="">
    </div>
    <div class="col-md-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quia fugit sed eligendi,
      nostrum qui nihil quas quisquam cupiditate blanditiis nisi accusamus aliquam esse sequi, provident laudantium
      soluta repudiandae dolorum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, minima sunt labore,
      error numquam ipsa aperiam deserunt facere doloremque neque odit adipisci modi. At perspiciatis minima sapiente
      voluptatibus ipsa. Quod.</div>
  </div>
</div>
<!-- <app-footer ></app-footer> -->
