<app-header></app-header>
<div class=" container-fluid wrapper">
  <div class="col-md-12 row content ">
    <div class="col-md-12 ">
      <img src="../../../assets/img/bannerTiengHanOnline.jpg" alt="" class="mx-auto d-block" style="width:50%">
    </div>
    <div class="content">
      <div class="container">
        <div class="col-md-12 row">
          <div class="col-md-7">
            <h2>
              HỌC TIẾNG HÀN TẠI KOKIBIG
            </h2>
            <div class="khoahoc-hr">
              <hr style="margin:0px ">
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quia fugit sed eligendi,
              nostrum qui nihil quas quisquam cupiditate blanditiis nisi accusamus aliquam esse sequi, provident
              laudantium
              soluta repudiandae dolorum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, minima sunt
              labore,
              error numquam ipsa aperiam deserunt facere doloremque neque odit adipisci modi. At perspiciatis minima
              sapiente
              voluptatibus ipsa. Quod.
            </p>
          </div>
          <div class="col-md-5">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/LRNBxHTzRqI?si=R04tpwvRdimhMQX3"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="col-md-12 thanh-acsion">
      </div>
      <div class="col-md-12 row">
        <div class="col-md-12">
          <h3>
            Bạn muốn học tiếng Hàn? Thời gian rảnh muốn học online mà lại sợ tốn kém, sợ không đủ chất lượng?
            Vậy thì khóa học tiếng Hàn Online miễn phí kéo dài 7 tuần của Tiếng Hàn KOKIBIG sẽ đồng hành cùng bạn.
          </h3>
          <p> Sự đặc biệt của khóa học này nằm ở chỗ:</p>
          <h3>✔ HOÀN TOÀN MIỄN PHÍ.<br /><br />
            ✔ VIDEO NGẮN có BÀI TẬP giúp ta có thể dễ dàng theo dõi & dễ học.<br /><br />
            ✔ THẢO LUẬN trên diễn đàn để học viên có thể trao đổi với giáo viên và các bạn học khác.</h3>
          <p>
            Đây là một khóa học tiếng Hàn cho người mới bắt đầu, bao gồm giới thiệu về ngữ âm và cách diễn đạt hàng
            ngày.
            Sau khi tham gia khóa học này, học viên có thể hiểu cơ bản tiếng Hàn Quốc và thực hiện các cuộc trò chuyện
            cơ bản về cuộc sống hàng ngày như trao đổi thông tin cá nhân, nói về lịch trình, hỏi về giá cả, giới thiệu
            thành phố và thời tiết, nói về sở thích,… </p>
        </div>
      </div>
    </div>


  </div>
</div>

<!-- <app-footer ></app-footer> -->