// .mat-mdc-button:not(:disabled) {
//   color: black;
// }

// section {
//   display: table;
// }

// .example-label {
//   display: table-cell;
//   font-size: 14px;
//   margin-left: 8px;
//   min-width: 120px;
// }

// .example-button-row {
//   display: table-cell;
//   width: 490px;
// }

// .example-button-row .mat-button-base {
//   margin: 8px 8px 8px 0;
// }

// .example-flex-container {
//   display: flex;
//   justify-content: space-between;
//   flex-wrap: wrap;
// }

// .example-button-container {
//   display: flex;
//   justify-content: center;
//   width: 120px;
// }
// *{
//   margin: 0;
//   padding: 0;
// }

nav {
  // background-color: var(--white-color);
  // box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--black-color);

}

nav a:hover {
  background-color: #218cff2b;
  color: var(--hover-color);
  border-radius: 0.5rem;
}

nav li:first-child {
  margin-right: auto;
}

nav .sidebar {
  position: fixed;
  top: 0;
  height: auto;
  width: 250px;
  z-index: 999;
  background-color: var(--white-color);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  // backdrop-filter: blur(10px);
  margin-top: var(--height-header-nav);
}

.sidebar li {
  width: 100%;


}

.sidebar a {
  width: 100%;
}