<nav>
  <ul (click)="hideSidebar(sidebar)" class="sidebar" #sidebar>
    <li><a routerLink="/home">Trang chủ</a></li>
    <li><a href="list-khoa-hoc">Khóa học</a></li>
    <li><a href="#">Giáo trình</a></li>
    <li><a href="#">Cộng đồng</a></li>
    <li><a href="#">Hỗ trợ</a></li>
  </ul>
  <ul>
    <li class=" d-lg-none" (click)="showSidebar(sidebar)">
      <a><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
          <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
        </svg>
      </a>
    </li>
    <li class="d-none d-lg-block"><a routerLink="/home">Trang chủ</a></li>
    <li class="d-none d-lg-block"><a href="list-khoa-hoc">Khóa học</a></li>
    <li class="d-none d-lg-block"><a href="#">Giáo trình</a></li>
    <li class="d-none d-lg-block"><a href="#">Cộng đồng</a></li>
    <li class="d-none d-lg-block"><a href="#">Hỗ trợ</a></li>
  </ul>
</nav>