.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.example-tree-node {
  display: block;
}

.example-tree-node .example-tree-node {
  padding: 10px;

  :hover {
    cursor: pointer;
    background-color: #f1eeee;
  }

}

.backgoundTitle {
  background-color: #efefef;
  height: 3rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.nav-list-menu {
  height: 80vh;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;

  i {
    display: flex;
    align-items: center;
  }

  @media (max-width:1000px) {
    height: 100%;
    padding: 0px 15px 30px 15px;
  }


}

@media (max-width:1000px) {
  .title-side-bar {
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      margin: 0;
    }

    svg {
      cursor: pointer;
    }

    .nav-list-menu {
      height: auto;
      padding: 0px 15px 30px 15px;
    }
  }
}